<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <title>Hello, world!</title>
</head>

<nav class="navbar navbar-expand-lg navbar-dark bg-info" style="height: 100px; background-image:url(imagenes/images.jpg)">


  <a class="navbar-brand" href="#">System 21</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link">Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/user/userForm}" >usuarios</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/admin/list}">Materias</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" th:href="@{/admin/teacherlist}">Profesores</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/admin/guidelist}">Guias</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" th:href="@{/admin/deliver}">Entregas</a>
      </li>
    </ul>

    <div class="btn-group">
      <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        [[${#httpServletRequest.remoteUser}]]
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#"><i class="fas fa-user"></i></a>

        <div class="dropdown-divider"></div>
        <form class="dropdown-item" th:action="@{/logout}" method="POST" >
          <button class="btn btn-danger center-block" type="submit" name="accion" >Cerrar Sesion</button>
        </form>
      </div>
    </div>
  </div>
</nav>

<body>
<div class="table-responsive" >
  <table id="userList" class="table table-bordered table-hover table-striped">
    <thead class="thead-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Titulo</th>
      <th scope="col">Materia</th>
      <th scope="col">Profesor</th>
      <th scope="col">Archivo</th>



      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="guide: ${guidelist}">
      <td th:text="${guide.id}"></td>
      <td th:text="${guide.title}"></td>
      <td th:text="${guide.subject.getName()}"></td>
      <td th:text="${guide.teacher.getName()}"></td>



      <td>

        <a href="#" th:href="@{'/admin/linkurl/'+ ${guide.id}}"><i class="fas fa-edit"></i></a>
        <a href="#" th:href="@{${guide.file}}" ><i class="fas fa-user-times"></i></a>
      </td>

    </tr>
    </tbody>
  </table>
</div>





<!-- Optional JavaScript; choose one of the two! -->

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

<!-- Option 2: Separate Popper and Bootstrap JS -->
<!--
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
-->
</body>
</html>