<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <title>Hello, world!</title>
</head>
<nav class="navbar navbar-expand-lg navbar-dark bg-info" style="height: 100px; background-image:url(imagenes/images.jpg)">


    <a class="navbar-brand" href="#">System 21</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link">Home<span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" th:href="@{/user/teacherlist}">Profesores</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/user/subjectlist}" >Materias</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/user/guidelist}" >Guias</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{'/user/deliverlist/'+  ${#httpServletRequest.remoteUser}}" >Entregas</a>
            </li>

            <li class="nav-item">
                <a class="nav-link"href="#" th:href="@{'/user/deliver/'+  ${#httpServletRequest.remoteUser}}">Mis Entregas</a>
            </li>


        </ul>
        <div class="btn-group">
            <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                [[${#httpServletRequest.remoteUser}]]
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#"><i class="fas fa-user"></i></a>

                <div class="dropdown-divider"></div>
                <form class="dropdown-item" th:action="@{/logout}" method="POST" >
                    <button class="btn btn-danger center-block" type="submit" name="accion" >Cerrar Sesion</button>
                </form>
            </div>
        </div>
    </div>
</nav>
<body>

<h1> Alumnos </h1>

<div class="table-responsive" >
    <table id="userList" class="table table-bordered table-hover table-striped">
        <thead class="thead-light">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Materia</th>
            <th scope="col">Profesor</th>
            <th scope="col">Profesor</th>


            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="subject: ${subjectList}">
            <td th:text="${subject.id}"></td>
            <td th:text="${subject.name}"></td>

            <td th:text="${subject.teacher.getName()}"></td>

            <td>

                <a href="#" th:href="@{'/user/fileurl/'+ ${subject.id}}"><label>Ver guia por materia</label></a>

            </td>
        </tr>
        </tbody>
    </table>
</div>

